.Category {
    background-color: rgb(255, 255, 255);
    height: 44px;
    width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.Slider {
    display: inline-block;
    transition: all 0.5s ease-in-out 0s;
    white-space: nowrap;
    & li {
        padding: 0 16px;
        font-size: 14px;
        list-style: none;
        color: rgb(56, 56, 61);
        display: inline-block;
        cursor: pointer;
    }
}
